h1 {
    color: #eb0e0eaa;
}

body {
    background-color: #d0d0eb5a;
}

.TYPE_1 {
    font-size: 1.5rem;
}

img {
    height: 350px;
}

.Bobcat {
    height: 400px;    
}

ul {
    list-style-type: square;
}